<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
  </head>
<body>
<table border="1" style="border-collapse:collapse">
<tr>
  <th>CF</th>
  <th>Nome</th>
  <th>Cognome</th>
  <th>Numero_di_Telefono</th>
  <th>Indirizzo</th>
</tr>
<tr>
  <td>1</td>
  <td>Mario</td>
  <td>Rossi</td>
  <td>123321</td>
  <td>Via Milano</td>
</tr>
<tr>
  <td>2</td>
  <td>Luca</td>
  <td>Gialli</td>
  <td>103584</td>
  <td>Via Padova</td>
</tr>
<tr>
  <td>3</td>
  <td>Fabio</td>
  <td>Verdi</td>
  <td>139155</td>
  <td>Via Genova</td>
</tr>
<tr>
  <td>4</td>
  <td>Giuseppe</td>
  <td>Blu</td>
  <td>553159</td>
  <td>Via Torino</td>
</tr>
<tr>
  <td>5</td>
  <td>Giada</td>
  <td>Azzurro</td>
  <td>742949</td>
  <td>Via Palermo</td>
</tr>
<tr>
  <td>6</td>
  <td>Nicola</td>
  <td>Rosa</td>
  <td>198194</td>
  <td>Via Napoli</td>
</tr>
</table>
</body>
</html>
