<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferma Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Conferma il tuo account</h2>
                <p>Ciao {{ user.username }},</p>
                <p>Ti preghiamo di confermare il tuo account cliccando sul seguente link:</p>
                <a href="{{ url_for('confirm', token=token, _external=True) }}" class="btn btn-primary">Conferma Account</a>
                <p>Oppure copia e incolla questo URL nel tuo browser:</p>
                <p>{{ url_for('confirm', token=token, _external=True) }}</p>
                <p>Questo link scadrà entro un certo periodo, quindi conferma il tuo account al più presto.</p>
                <p>Se non hai richiesto questa conferma, puoi ignorare questo messaggio.</p>
                <p>Grazie!</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>